  body {

            background-color: #210000;

            background-image: url(img_articulo/Dereita.png);
            background-repeat: repeat-y;
            background-position: top right;

        }

        .Elementos {
            font-family: 'Minecrafter', sans-serif;
            color: wheat;
            word-spacing: 3px;
            display: flex;
            flex-direction: column;
            font-size: 15px;
            justify-content: center;

        }